<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Phase2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>productSession-servlet</servlet-name>
    <url-pattern>/New_product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>productSession-servlet</servlet-name>
    <servlet-class>Product.NewProduct</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Flight-servlet</servlet-name>
    <url-pattern>/Admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Flight-servlet</servlet-name>
    <servlet-class>Flight.Admin_login</servlet-class>
  </servlet>    
  <servlet-mapping>
    <servlet-name>Flight-servlet</servlet-name>
    <url-pattern>/List</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Flightservlet</servlet-name>
    <servlet-class>flyAway.Flight_List</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>Flight-servlet</servlet-name>
    <url-pattern>/Insert_Flight</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Flightsservlet</servlet-name>
    <servlet-class>flyAway.Insert_Flight</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>Flight-servlet</servlet-name>
    <url-pattern>/Password</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Flights-servlet</servlet-name>
    <servlet-class>flyAway.Password</servlet-class>
  </servlet>
</web-app>